/*
/*
Theme Name: Sprint 8
Theme URI: http://underscores.me/
Author: Thirsty Boy
Author URI: http://thirstyboy.com
Description: Custom theme for Johnson Health Tech Sprint 8
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sprint_eight
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Sprint 8 is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

This theme is the most seamless and minimalistic integration of Twitter Bootstrap Framework into
the _s starter theme from Automattic, the guys behind WordPress.

_s (or Underscores) http://underscores.me/, (C) 2012-2013 Automattic, Inc. Twitter Bootstrap

Credits:

1. Bootstrap

 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)

 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=f58353a31151a8c05d7c)
 * Config saved to config.json and https://gist.github.com/f58353a31151a8c05d7c

2. wp_bootstrap_navwalker

* Class Name: wp_bootstrap_navwalker
* GitHub URI: https://github.com/twittem/wp-bootstrap-navwalker

3. Glyphicons

 * http://getbootstrap.com/components/

*/

/* My Minimal WordPress Styling comes here */

/* This just makes the admin bar on the page transparent */
#wpadminbar {background:rgba(0,0,0,0.5) !important;}

/* This is a small security for too long strings titles */
body { word-wrap:normal; font-family: "acumin-pro",sans-serif; font-size: .8em;}

/* Alignment and Padding */
.alignleft   {display: inline; float: left; margin-right: 1.5em; }
.alignright  {display: inline; float: right; margin-left: 1.5em;}
.aligncenter {clear: both;display: block;	margin: 0 auto;}
.pt70        {padding-top: 70px;}
.no-float    {float: none !important;}
/* Images and wp-captions should always fit and be responsive */
img { display: inline-block; height: auto; max-width: 100%;}

/* Make sure embeds and iframes fit their containers */
embed, iframe, object { max-width: 100%; }

/* Content Page Setup*/
.main-content-inner {padding-bottom: 1.5em;}
#page-cnt>p     {font-size:1.3em;}
p               {margin: 0 0 1.5em !important; font-weight: 100;}
.entry-meta     {clear: both;}
.clear          {clear: both;}
.z50            {z-index: 50; position: relative;}
.gray-btn       {text-transform: uppercase; color: #FFF !important; font-size: 1em; padding: 1em 2em; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 0px; background: #5d5d5d; letter-spacing: .14em; font-weight: 100; float: left; margin-right: 18px;     }
.gray-btn:hover {color: #ccc !important;}
#page-header    {position:relative;background: #fcb813; }
div#bg          {background-size: cover !important; opacity:0.8; width:100%; height:auto; padding-top: 48%; background-color: #fcb813 !important; background-blend-mode: multiply !important;}
div#cover       {width:100%; height:auto; position:absolute; top: 0; left:0; padding: 10%; background:url('includes/images/header-overlay.png') no-repeat; background-position: top right;}
h3        {font-size: 3.5em;  text-transform: uppercase; margin-bottom: 3%;  font-weight: 100; letter-spacing: .19em;}
h3.yellow {color: #fcb813;}
h3.red    {color: #e32208;}
h4        {color: #fcb813; text-transform: uppercase; letter-spacing: .11em; font-size: 2.2em; margin-bottom: 1em;}
h4 .fa    {margin-right: .5em;}
#cover h2 {font-size: 9em; text-transform: uppercase; color: #fff; font-weight: 600;}
#cover h1 {font-size: 9em; text-transform: uppercase; color: #fff; font-weight: 600;}


/* Navigation */
.site-branding                             {margin: 15px 0 0 15px; float: left; position: relative; z-index: 10;}
.navbar-nav                                {margin: 10px 0 -10px 0;}
.dropdown-submenu                          {position:relative;}
.dropdown-submenu>a:after                  {display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:active>a:after           {border-left-color:#ffffff;}
.dropdown-submenu>.dropdown-menu           {top:0;left:100%;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu.pull-left>.dropdown-menu {left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.site-navigation-inner                     {float: right;}
.navbar-default                            {background-color: #fff; border-color: transparent !important; border: 0px;}
.navbar-default .navbar-nav>li>a           {color: #696867; font-size: 1em; text-transform: uppercase; letter-spacing: .1em; margin-left: .2em;}
.wpglobus-selector-link a .caret           {float: left; margin: 5px 9px; color: #fbb62f; margin-left: 2px; border-top: 7px dashed; border-top: 7px solid; border-right: 7px solid transparent; border-left: 7px solid transparent;}
.dropdown-submenu:active>.dropdown-menu, .dropdown-submenu:hover>.dropdown-menu {display: block; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover {color:#fdba1b; background: transparent !important;}
.navbar-toggle .icon-bar       { height: 3px;}
.navbar-default .navbar-toggle {border-color: transparent !important; margin-top: 7px; margin-bottom: -7px;}
@media (min-width:925px) { .navbar-default .navbar-nav>li>a {margin-left: 2.5em;}}
@media (max-width: 766px) { 
.site-navigation-inner    {position: absolute; z-index:1; width: 100%; padding: 0; background:#fff; height: 70px;}
.navbar-default .navbar-nav>li>a {font-size:2em;}
.navbar.alignright {float: none;}
.navbar-nav {text-align: center; padding-bottom: 45px;}
.navbar-fixed-top .navbar-collapse {max-height: none; margin-top:22px; background:#fff; width: 100%;}
.navbar-default .navbar-nav>li>a   {padding: 1em;}
}


/* Home Slider */
.my-slider li    {min-height:70em; padding:3% 5% 7% 5% !important;  position: relative;}
.my-slider li h2 {opacity: 1; color: #000; font-size: 6em; text-transform: uppercase; font-style: italic; font-weight: 600; width: 35%;}
.my-slider ul li {background: #c8bda3; background-size: cover !important; background-position: center;}
.unslider-arrow.prev:before {content: "\e257"; color: #fff; font-size: 12px;}
.unslider-arrow.next:before {content: "\e258"; color: #fff; font-size: 12px;}
.unslider-arrow.next        {right: 0 !important;}
.unslider-arrow.prev        {left: 0;}
.unslider                   {position: relative;}
.unslider-arrow             {position: relative; top: 33%; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 0;  color: transparent; background-color: rgba(0,0,0,0.7); padding: 12px 7px;}
.sdadiv                     {-khtml-opacity:.50;  -moz-opacity:.50; opacity:.50; }
@media (min-width:725px) { .my-slider li h2  {font-size: 10em}}

/* Resource Slider */
#successes .unslider-arrow.next {right: 3px !important;}
#successes .unslider-arrow.prev {left: 3px;}
#successes .unslider-arrow      {margin-top: 2%;  background-color:#fcb715;}
.successes-slider               {border: 3px solid #fcb813; margin-bottom: 10%;}
.successes-slider .infoImg      {float: left; background-size:contain !important; height:auto; padding-top:42.333%; background-position: center !important;}
.infoQuote    {float: right; padding: 2% 5% 0 3%;}
.infoQuote>h5 {color:#e32208; font-size: 3em; text-transform: uppercase; letter-spacing: .11em; font-weight: bold;}
.infoQuote>h6 {color:#7494a0; font-size: 2.5em; text-transform: uppercase; letter-spacing: .11em; font-weight:100;}
.infoQuote>p  {font-size: 1.3em; font-style: italic;}




/* Skewed Format */
div.black           {color: #fff; background: #000; }
div.skewed-bg.yellow{background: #fcb813; }
div.skewed-bg.black {color: #fff; background: #000; }
div.skewed-bg.white {color: #797777; background: #fff; }

.img-block    {min-height:500px; padding: 23% 10% 18% 10%; background-size: cover !important;}
.img-block h3 {font-size: 4em; letter-spacing: .1em;}
.img-block p  {font-size: 1.5em; line-height: 1.7em;}

.skewed-bg                   {padding:10% 0; margin: -14% auto; -webkit-transform: skew(0deg, -5deg); transform: skew(0deg, -5deg); -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out;  outline: 1px solid transparent;}
.skewed-bg .content h3       {font-size: 4.5em; letter-spacing: .23em; margin-bottom: 1em;}
.skewed-bg .content .text    {width:100%; margin:0; color: #fff; -webkit-background-clip: content-box;}
.skewed-bg .content .text p  {font-size: 1.5em; line-height: 1.6em; letter-spacing: .13em;}
.skewed-bg .container .text  {margin: 0; color: #fff; -webkit-background-clip: content-box;}
.skewed-bg .container .text p{font-size: 1.5em; line-height: 1.6em; letter-spacing: .13em;}
.skewed-bg .padding          {padding:0% 10% 5% 10%;}
.skewed-bg .content .title, .skewed-bg .container .title {padding-top: 100px; font-weight: normal;}
.skewed-bg>.content, .skewed-bg>.container               {-webkit-transform: skew(0deg, 5deg); transform: skew(0deg, 5deg); -webkit-background-clip: content-box; position: relative; outline: 1px solid transparent;}


#hm-bg-cir         {background-image: url('/wp-content/uploads/2016/05/home-yellow-bg.png'); height: 120%; width: 100%; position: absolute; z-index: 1; background-size: contain; background-repeat: no-repeat; top: 0%; left: 0px; -webkit-background-clip: content-box;}
#hm-cnt-wrp        {margin: -5% auto; float: none !important;  -webkit-background-clip: content-box; outline: 1px solid transparent;}
#home-lower        {min-height: 400px; z-index: 140; background-color: #000; background: url("/wp-content/uploads/2016/05/SP815_LIFESTYLE_male-sitting-looking-away-detail_blk-bkgrnd-copy.jpg") no-repeat #000; background-position: bottom right !important; position: relative; width: 100%; background-position: right; text-align:left; padding:1% 1% 25% 9%;}
#home-lower-bg     {background:url('includes/images/home-lower-bg.png') no-repeat; position: absolute; top:-25%; right: 0; height:366px; width:312px; background-size:contain;}
#hm-cnt-wrp .text  {width: 90%; margin: 0 auto; color: #fff; font-size: 1.5em; text-align: right; letter-spacing: .13em; -webkit-background-clip: content-box; outline: 1px solid transparent;}
#hm-cnt-wrp .text p{float:left; font-size: 1em; }
.sp-logo           {margin:2% 0 -5% 38%; } 
.chart             {margin-top: 19%; width: 50%; margin-right: -28px; margin-bottom: -20%;  z-index: 2; position: relative;}
.home-chart        {width:100%; margin-top:-2em;}
#home-lower a.gray-btn {margin-top: 2em;}
#contact-form .contact-text h3 {color: #fff}
#contact-form .contact-text    {color: #5d5d5d; display: inline-block; float: none !important;}
#contact-form .contact-text p  {font-size: 1.6em;}
#contact-form .contact-form    {color: #5d5d5d; display: inline-block; float: right; }
.contact-logo          {text-align: right;}
@media (max-width: 990px) { .contact-logo {text-align: center; padding: 4em;}}
.logos                 {text-align: center;}
.contactPage-phil      {padding: 22% 0% 68% 11% !important; background-color: #e1ddd4;  position: relative; z-index: -1; background-position: center left !important;}
#phil-bg-icon          {background: url('includes/images/contact-phil-bg.png') no-repeat; background-size: contain; width: 50%; height: auto; padding-top: 34%; position: absolute; z-index: -1; left: 0; top: 32%;}
#contact-blackcap .about_text {font-size: 1.5em;}
#contact-form input              {padding:0 0.9em; font-size: 1.5em; width: 90%;}
#contact-form textarea           {padding:0.9em; font-size: 1.5em; width: 90%;}
#contact-form input[type=submit] {text-transform: uppercase; color: #FFF !important; font-size: 1em; padding: 1em 2em; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 0px; background: #5d5d5d; letter-spacing: .14em; font-weight: 100; float: right; margin-right: 10%; width: 127px;}
#philModal input[type=submit] {text-transform: uppercase; color: #FFF !important; font-size: 1.4em; padding: .3em 2em; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 0px; background: #5d5d5d; letter-spacing: .14em; font-weight: 100; float: right; margin-right:0; width: 135px;}
#philModal input         {font-size:.8em 1.4em; padding:0 1.4em; height: auto;}
#philModal .your-name	 {float:left; width: 49%;}
#philModal .your-email   {float:right; width: 49%;}
#philModal textarea      {padding: 1.4em; font-size: 1.4em; width: 100%;}

#natural   {padding: 10% 0 5% 0; background: url('includes/images/natural-bg.png') no-repeat; background-size: contain; background-position: top right;}
#natural p {font-size: 1.5em; line-height: 1.8em;}


.row-bx             {height: 24em; margin-top: 5%;}
.row-bx .text       {padding-right: 10%;}
.row-bx .text.dk-txt{color: #4f4f4f;} 
#benifits>p         {font-size: 1.5em;}
#benifits .row-bx h4{color: #fcb813; text-transform: uppercase; letter-spacing: .11em; font-size: 2.2em; margin-bottom: 1em; margin-left: 61px; width: 70%; padding-top: 0; margin-top: 0; margin-bottom: 8%;}

#research-blackcap                {background: url('/wp-content/uploads/2016/05/SP815_LIFESTYLE_female-kneeling_blk-bkgrnd.png') no-repeat #000; background-size: contain !important; min-height:auto; padding-top: 56%; background-position: left; position: relative; z-index: 10; color: #fff;}
#research-blackcap-lower p        {font-size: 1.5em; color: #fff;}
#research-blackcap-lower .cnt-wrp {width: 70%; float: right;}
#research-blackcap-lower          {margin-top: -53%; z-index: 100; position: relative;}
#resource-blackcap                {width: 100%; position: relative;z-index:0; padding-top: 23%;}
.research-chart                   {float: right; width: 78%; margin-bottom: -22%;}

#about-phil    {background: url('/wp-content/uploads/2016/05/SP815_LIFESTYLE_male-phil-campbell_gray-bkgrnd.png') no-repeat #939191; background-size:contain; background-position: bottom right; min-height: 900px; padding: 20% 0; }
#about-phil p  {font-size: 1.5em; color: #fff;}
#about-phil h3 {color: #5d5d5d; font-weight: 600; letter-spacing: .1em; font-size: 4em;}
#about-phil h4 {font-weight: 100; font-size: 2em;} 

.cap-inner-bg           {background: url('includes/images/bottom_black_cap.png') no-repeat #000; background-size: cover; width: 100%; padding-top: 15%; position: absolute; top: 35%;}
#contact-blackcap       {width: 100%; background: #000; position: relative; margin: -2em 0 0px 0; display: inline-block; padding:0 15% 4% 15%; color: #5d5d5d;}
#contact-blackcap>.text {font-size: 1.4em; letter-spacing: .1em; line-height: 1.7em;}

.footer-nav ul               {margin: 20px 0;}
.footer-nav ul li            {display: inline-block; border-right: 1px solid #000; }
.footer-nav ul li:last-child {border-right: 0px solid #000; }
.footer-nav ul li a          {text-transform: uppercase; color: #000;     padding: 0 2.5em;  letter-spacing: .15em;}
.site-footer-inner           {padding:4% 0; text-align: center;}
.logo-link 					 { width: 125px; display: inline-block; margin: 0 20px;}

#resource      {padding:0% 3%;}
.resources-wrp {display: inline-block;}
#resource-bx-1 {width:38%; float: left; height:560px; }
#resource-bx-2 {width:62%; float: left; height:350px; }
#resource-bx-3 {width:31%; float: left; height:210px; }
#resource-bx-4 {width:31%; float: left; height:210px; }

#resource-bx-1 .padding-wrp {height:inherit; margin:0;  display:inline-block; width: 100%;}
#resource-bx-2 .padding-wrp {padding-left: 1em; padding-bottom: 1em; height:inherit; margin:0;  display:inline-block; width: 100%;}
#resource-bx-3 .padding-wrp {padding-left: 1em;  height:inherit; margin:0;  display:inline-block; width: 100%;}
#resource-bx-4 .padding-wrp {padding-left: 1em;  height:inherit; margin:0;  display:inline-block; width: 100%;}

#faq                {position: relative;z-index: 100; position: relative; z-index: 90; width: 72%;}
#faq .panel-group   {margin-right: -30px;    border-radius: 0 !important; }
.panel-group .panel {position: relative; color: #5d5d5d;}
.panel-title        {font-size: 16px; text-transform: none !important; font-weight: bold;}
.panel-heading      {padding: 18px 15px; border-bottom: 1px solid transparent; border-top-left-radius: 0px; border-top-right-radius: 0px;}

#faq p          {font-size: 15px; line-height: 26px;}
#faq .panel     {border-radius: 0px !important; color: #5d5d5d !important;}
#faq-contact    {margin: 3% 0; width: 103%; display: inline-block;}
#faq-contact h4 {font-size: 16px; float: left; text-transform: none !important; font-weight: bold; color: #5d5d5d !important;}
#faq-contact a  {float: right;}
#faq a.accordion-toggle>span.glyphicon      {float: right;}
.panel-default>.panel-heading        {color: #5d5d5d !important; background:#f2f0f0;}
.panel-group .panel+.panel           {margin-top: 15px;}
.panel-default>.panel-heading+.panel-collapse>.panel-body {border-top-color: #fff;}
.panel-heading>h4>a {padding: 16px 14px; display: inline-block; width: 100%;}
.panel-heading {padding:0;}

#benifits .chat-bubble    {left: 18px;}
.chat-bubble              {background-color: #fff; border: 3px solid #fcb813; font-size: 23px; line-height: 1.3em; padding: 3px 5px; position: relative; text-align: center; width: 50px; position: absolute; top: 0; left: -61px; z-index: 1; color: #fff;}
.chat-bubble:before       {content: ""; top: 1px; left: 1px; right: 1px; bottom: 1px; position: absolute; background: #fcb813; color: #000; z-index: -1;}
.chat-bubble-arrow-border {border-color: #fcb813 transparent transparent transparent; border-style: solid; border-width: 10px; height: 0; width: 0; position: absolute; bottom: -23px; left: 13px;}
.chat-bubble-arrow        {border-color: #fff transparent transparent transparent; border-style: solid; border-width: 10px; height: 0; width: 0; position: absolute; bottom: -19px; left:13px;;}
.chat-bubble-arrow:before {content: ""; top: -12px; right: 1px; z-index: 2; border-color: #fcb813 transparent transparent transparent; border-style: solid; border-width: 10px; height: 0; width: 0; position: absolute; left: -10px;}

.nav-pills       {text-align: center; width: 110%;margin-left: -5%;}
.nav-pills>li    {display: inline-block; width: 24%; float: left;}
.nav-pills>li>p  {height:114px; font-size: 1.2em !important; font-weight: bold; margin-top: 20px !important;}
.nav-pills>li+li {margin-left: 11px;}

.drop-tab              {background-color: #463f2e; border: 3px solid #44340d; font-size: 23px; line-height: 1.3em; padding: 22px 10px; position: relative; text-align: center; z-index: 1; color: #000; text-transform: uppercase; -webkit-transition: all .5s ease-in-out;-moz-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out; transition: all .2s ease-in-out;}
.drop-tab:before       {content: ""; top: 1px; left: 1px; right: 1px; bottom: 1px; position: absolute; background: #44340d; color: #000; z-index: -1;}
.drop-tab-arrow-border {border-color: #44340d transparent transparent transparent; border-style: solid; border-width: 10px; height: 0; width: 0; position: absolute; bottom: -23px; left: 48%;}
.drop-tab-arrow        {border-color: #463f2e transparent transparent transparent; border-style: solid; border-width: 10px; height: 0; width: 0; position: absolute; bottom: -19px; left:48%;}
.drop-tab-arrow:before { content: ""; top: -12px; right: 1px; z-index: 2; border-color: #44340d transparent transparent transparent; border-style: solid; border-width: 10px; height: 0; width: 0; position: absolute;left: -10px;}


li.active a div.drop-tab, li.load a div.drop-tab, li a div.drop-tab:hover                                     {background-color: #fff; border: 3px solid #fcb813; font-size: 23px; line-height: 1.3em; padding: 22px 10px; position: relative; text-align: center; z-index: 1; color: #000; text-transform: uppercase;}
li.active a div.drop-tab:before, li.load a div.drop-tab:before, li a div.drop-tab:hover:before                {content: ""; top: 1px; left: 1px; right: 1px; bottom: 1px;  position: absolute; background: #fcb813; color: #000; z-index: -1;}
li.active .drop-tab-arrow-border, li.load .drop-tab-arrow-border, li .drop-tab:hover .drop-tab-arrow-border   {border-color: #fcb813 transparent transparent transparent; border-style: solid; border-width: 10px; height: 0; width: 0;position: absolute; bottom: -23px; left: 48%;}
li.active .drop-tab-arrow, li.load .drop-tab-arrow, li .drop-tab:hover .drop-tab-arrow                        {border-color: #fff transparent transparent transparent;  border-style: solid;  border-width: 10px; height: 0;  width: 0; position: absolute;  bottom: -19px; left:48%;}
li.active  .drop-tab-arrow:before, li.load  .drop-tab-arrow:before,li .drop-tab:hover  .drop-tab-arrow:before {content: ""; top: -12px;  right: 1px; z-index: 2; border-color: #fcb813 transparent transparent transparent; border-style: solid; border-width: 10px; height: 0; width: 0; position: absolute;left: -10px;}


.tab-pane                   {margin-top: 136px;}
.subTab .tab-pane           {margin-top: 45px;}
.subTab .nav-pills>li       {float: none !important; width: 18%;}
.subTab .nav-pills>li>a     {color: #fff; text-transform: uppercase; font-size:1.5em; }
.subTab .nav>li>a:hover     {text-decoration: none; color:#fdb814; background-color: transparent;}
.subTab .workout-outline ul {font-size: 1.3em; line-height: 1.7em; float: left; margin-left: -20px;}
.subTab .workout-outline ul li        {margin-bottom: 1em; color:#b7b2b2; list-style:none; position: relative;}
.subTab .workout-outline ul li:before {color: #fdb814; content: "\2022"; font-size: 1.5em; padding-right: 0; position: absolute; top: .1em; left: -.9em;}
.subTab .nav-pills>li.active>a,.subTab  .nav-pills>li.active>a:focus,.subTab  .nav-pills>li.active>a:hover {background:transparent; color:#fdb814;}


.workout-outline          {width: 100%; display: inline-block; border:1px solid #fff ; padding: 4%;}
.workout-outline h5       {text-transform: uppercase; font-size: 2em; color: #b7b2b2; letter-spacing: .11em; font-size: 3.5em; font-weight: bold;}
.workout-outline h6       {font-size: 1.6em; letter-spacing: .11em; color: #fdb814; text-transform: uppercase;}
.padding-wrp .bx-wrp a    {display: inline-block; color: #fff; height: 100%; background-repeat: no-repeat !important; background-size: cover !important; width: 100%; background-color: #fcb813 !important; background-blend-mode: multiply !important; position: relative;}
.padding-wrp .bx-wrp a h3 {font-size: 2.4em; margin: 6% 5% 0 5%; line-height: 1.2em; letter-spacing: .1em;}
.padding-wrp .bx-wrp a h5 {font-size: 2.2em;  margin: 0 5%; line-height: 1.2em; text-transform: none; font-weight: 100;}
.padding-wrp .bx-wrp      {height: 100%; display: block; margin: 0; padding: 0; float: left; border: 1px solid #fff; padding: .4em; width: 100%}
#workout p                {font-size: 1.3em; letter-spacing: .15em; line-height: 1.8em; font-weight: bold;}
#workout p img            {padding:7% 0px 3% 0%;}
#workout p a 			  {font-size: .7em; margin-top: 1.5em; padding: .5em 1.5em;}

#athelete {margin-top: 5%; width: 100%; display: inline-block;}

#successes h3 {text-align: center; font-weight: bold;}
#successes .press-praise {max-width: 660px; margin: 0 auto;}
#successes .press-praise img {max-height: 75px; margin: 30px;}

#spBgLogo {background:url('includes/images/contact-sp8Logo.png') no-repeat; background-size: contain; width: 50%; height: auto; padding-top: 50%; position: absolute; z-index: -1; left: 0; bottom: -20%;}

.entry-content a.lazy-load-youtube, a.lazy-load-youtube, .lazy-load-vimeo {
    background-size: contain !important;
    width: 100%;
    height:277px; 
}

#philModal {width: 100%; border-radius: 0; }
#philModal .modal-content {border-radius: 0;}
#philModal .modal-dialog {width: 100%;}

#philModal .close {
    float:left !important;
     color: #fcb716 !important; 
   text-shadow: none; 
    opacity: 1 !important;
    background: #fff;
    font-size: 3em;
    margin-left:10%; 

}
#philModal .modal-content { background-color: rgba(255,255,255,0.9); }
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
}
#philModal .modal-content h2{font-size: 4em; color: #fcb813;  letter-spacing: .2em; width: 100%;}
#philModal .modal-content p {    font-size: 1.5em;
    color: #878787;
    letter-spacing: .1em;
    line-height: 2em;}
    #philModal .modal-content .container {
padding: 5em;}

.resource_link  {
    text-transform: uppercase;
    color: #FFF !important;
    font-size: 1em;
    padding: .7em 1.5em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0px;
    /* background: #5d5d5d; */
    letter-spacing: .14em;
    font-weight: 100;
    float: left;
    margin-right: 18px;
    border: 1px solid;
    margin-top: 3%;
    margin-left: 5%;
}

.post-title {font-size: 7em !important;}
#page-cnt   {margin-bottom: 6%;}
.phil-link-wrp>span {width: 100%; display: inline-block; margin: 2% 0px 4% 0;     padding-left: 33px;}
h1>span, h2>span, h3>span, h4>span, span.no-break {white-space: nowrap;}
@media (min-width: 700px) {   
	body {font-size: .9em;}
	.skewed-bg  {  margin: -13% auto; }
    .skewed-bg>.content>.text {width:70%;}
    .unslider-arrow.prev:before {font-size: 25px;}
    .unslider-arrow.next:before {font-size: 25px;}
}
@media (min-width: 1320px) {
	body {font-size: 1.1em;}    
	.skewed-bg {  margin: -9% auto; }
}
@media (min-width: 1650px) {  
	body {font-size: 1.3em;} 
	.skewed-bg {  margin: -8% auto; }
}

@media (max-width:765px) { 
    .skewed-bg  {padding:65px 0;}
    .chart      {margin-top: 0%; margin-right: 62px; width: 70%;}
    #hm-bg-cir  {height: 60%; top: 40%;}
    #cover h2   {font-size: 6em;}
   div#bg       {padding-top:68%;}
   #home-lower  {background-size: 52%; height: 58em;}
  #contact-form .contact-form     {float: none !important;}
  #resource-bx-1 {width:100%; float: left; height:210px; }
  #resource-bx-2 {width:100%; float: left; height:210px; }
  #resource-bx-3 {width:100%; float: left; height:210px; }
  #resource-bx-4 {width:100%; float: left; height:210px; }
  .resources-wrp {height: 810px;}
  #resource-bx-1 .padding-wrp {padding-left: 1em; padding-bottom: 1em; height:inherit; margin:0;  display:inline-block; width: 100%;}
  #resource-bx-2 .padding-wrp {padding-left: 1em; padding-bottom: 1em; height:inherit; margin:0;  display:inline-block; width: 100%;}
  #resource-bx-3 .padding-wrp {padding-left: 1em; padding-bottom: 1em;  height:inherit; margin:0;  display:inline-block; width: 100%;}
  #resource-bx-4 .padding-wrp {padding-left: 1em; padding-bottom: 1em;  height:inherit; margin:0;  display:inline-block; width: 100%;}
 .caret {float: none !important;}
 a.dropdown-toggle>span.wpglobus_language_full_name {margin-left: 29px;}
}
@media (max-width:1026px) { 

	.padding-wrp .bx-wrp a h3 {font-size: 2em;}
	.padding-wrp .bx-wrp a h5 {font-size: 1.8em;}
    .nav-pills>li {
    display: inline-block;
    width: 23%;
    float: left;
}
.drop-tab {
    background-color: #463f2e;
    border: 3px solid #44340d;
    font-size: 13px;
    line-height: 1.3em;
    padding: 18px 10px;
    position: relative;
    text-align: center;
    z-index: 1;
    color: #000;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
li.active a div.drop-tab, li.load a div.drop-tab, li a div.drop-tab:hover {
    background-color: #fff;
    border: 3px solid #fcb813;
    font-size: 13px;
    line-height: 1.3em;
    padding: 18px 5px;
    position: relative;
    text-align: center;
    z-index: 1;
    color: #000;
    text-transform: uppercase;
}
.nav-pills {
    text-align: center;
    width: 108%;
    margin-left: -5%;
}
}
@media (max-width:580px) { 
   #home-lower  {    background-size: 73%; height: 58em;}
   .footer-nav ul li {
    display: inline-block;
    width: 100%;
    border-right: none; 
    margin: .6em auto;
}
      .nav-pills {
    text-align: center;
    width: 110%;
    margin-left: -10%;
}
li.active a div.drop-tab, li.load a div.drop-tab, li a div.drop-tab:hover {
    background-color: #fff;
    border: 2px solid #fcb813;
    font-size: 9px;
    line-height: 1.3em;
    padding: 8px 3px;
    position: relative;
    text-align: center;
    z-index: 1;
    color: #000;
    text-transform: uppercase;
}
.nav-pills>li {
    display: inline-block;
    width: 23%;
    float: left;
}
.drop-tab {
    background-color: #463f2e;
    border: 2px solid #44340d;
    font-size: 9px;
    line-height: 1.3em;
    padding: 8px 3px;
    position: relative;
    text-align: center;
    z-index: 1;
    color: #000;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
} 
li.active .drop-tab-arrow-border, li.load .drop-tab-arrow-border, li .drop-tab:hover .drop-tab-arrow-border {
    border-color: #fcb813 transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -22px;
    left: 38%;
}
li.active .drop-tab-arrow, li.load .drop-tab-arrow, li .drop-tab:hover .drop-tab-arrow {
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -22px;
    left: 39%;
}   
.nav-pills>li+li {
    margin-left: 6px;
}
.subTab .nav-pills>li+li {
    margin-left: 0;
}
.subTab .nav-pills>li {
    float: none !important;
    width: 100%;
    border: 1px solid;
    display: inline-block;
}
.subTab .nav-pills {
    text-align: center;
    width: 100%;
    margin-left: 0%;
    margin-bottom:8-46px;
}
.drop-tab-arrow {
    border-color: #463f2e transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -22px;
    left: 38%;
}
.drop-tab-arrow-border {
    border-color: #44340d transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -22px;
    left: 38%;
}
}
@media (max-width: 767px) {
#cover h1 {font-size: 4em;}
.img-block {padding: 30% 10% 18% 10%;}
.navbar-nav .open .dropdown-menu {
    text-align: center;
}}

@media (min-width:1319px) { 
	#resource-blackcap {margin-top: -14%;}
}
@media (max-width: 480px){
#home-lower {
    background-size: 76%;
    height: 49em;
}
}

